@import url("./base/global.css");
@import url("./base/animations.css");
@import url("./base/utilities.css");
@import url("./components/video-modal.css");

@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/gallery.css");
@import url("./components/slider.css");
@import url("./components/navbar.css");

@import url("./sections/hero.css");
@import url("./sections/film-ai.css");
@import url("./sections/commercial.css");
@import url("./sections/ai-gallery.css");
@import url("./sections/cta.css");
@import url("./sections/highlight.css");
@import url("./sections/about.css");

@import url("./responsive/responsive.css");

@import url("./styles/film-ai.css");
@import url("./sections/film-ai/film-ai-hero.css");
@import url("./sections/film-ai/film-ai-intro.css");
@import url("./sections/film-ai/film-ai-showreel.css");
@import url("./sections/film-ai/film-ai-case-studies.css");
@import url("./sections/film-ai/project-showcase.css");
@import url("./sections/film-ai/start-film.css");

@import url("./sections/commercial/commercial-hero.css");
@import url("./sections/commercial/commercial-showcase.css");
@import url("./sections/commercial/commercial-brands.css");
@import url("./sections/commercial/commercial-cta.css");

@import url("./sections/imagery/imagery.css");
@import url("./sections/contact.css");

.container{
  width: min(1400px, calc(100% - 80px));

  margin-left: auto;
  margin-right: auto;
}
html{
  scroll-behavior: smooth;
}
@media(max-width:768px){

  .container{
    width: calc(100% - 32px);
  }

}