  body {
    background: #000;
    color: white;
  }

  .btn-primary {
    background: linear-gradient(135deg, #A78BFA, #C084FC);
    transition: 0.3s;
  }

  .btn-primary:hover {
    opacity: 0.8;
  }
